#navAcceuil {
    min-height: 3rem;
    padding: 0 1rem 0 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}
#nav-blog{
    display: flex;
    flex-direction: row;
}

footer{
    background-color: blueviolet;
}

img{
    width: auto;
    height: auto;
}

body{
display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    background-image: url("/assets/ocean.jpg");
    background-size: cover;

    flex: 1;
}